
<h2>List of student</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Faculty</th>
        <th>Year</th>
        <th>Stipend</th>
    </tr>
        @foreach (var item in ViewBag.Students)
        {
    <tr>
        <td>@item.Name</td>
        <td>@item.Faculty</td>
        <td>@item.Year</td>
        <td>@item.Stipend</td>
    </tr>
        }
</table>

